<!--
<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs="" flex-gt-xs="40"layout="column">
    <md-card md-theme="{{ showDarkTheme ? 'default' : 'default' }}" md-theme-watch="">
          <md-card-title>
            <md-card-title-text layout-align="center center">
              <span>
                <h3 class="max_value">35.4°C</h3>
                <div style="clear: both">
                  <md-icon md-font-library="material-icons">home</md-icon>
                  <h3 style="float: right" class="main_value">18.5°C</h3>
                </div>
                <h3 class="min_value">10.7°C</h3>
              </span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
      </div>
    </md-card>
  </div>
</md-content>
--!>
<div flex-xs="" flex-gt-xs="100" layout="column">
  <md-grid-list md-cols-gt-md="6" md-cols-xs="2" md-row-height="1:1" md-gutter="12px" md-gutter-gt-sm="8px">

    <md-grid-tile md-rowspan="1" md-colspan="2" class="cst_tile">
      <md-grid-tile-title>
        <h3 class="max_value">35.4°C</h3>
        <div style="clear: both">
          <md-icon style="float: left" class="md-80" md-font-set="material-icons">home</md-icon>
          <h3 style="float: right" class="main_value">18.5°C</h3>
        </div>
        <h3 class="min_value">10.7°C</h3>
      </md-grid-tile-title>
    </mdi-grid-tile>


    <md-grid-tile class="green">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="yellow">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>
