<div layout="column" class="main_container bord">
  <div layout="row" layout-align="center" flex-gt-xs="33" class="bord">
    <div layout="column" layout-align="center center" flex="20" class="bord">
      <md-icon class="md-80" md-font-set="material-icons">home</md-icon>
    </div>
    <div layout="column" flex class="bord">
      <div flex layout="column" layout-align="end" class="bord">
        <h3 class="max_value">35.4°C</h3>
      </div>
      <div flex layout="column" layout-align="center" class="bord" layout-wrap>
        <h3 class="main_value">18.5°C | 82.7%</h3>
      </div>
      <div flex layout="column" layout-align="start" class="bord">
        <h3 class="min_value">10.7°C</h3>
      </div>
    </div>
  </div>
  <div flex-gt-xs="33" class="bord">
    <h3 class="main_value">18.5°C</h3>
  </div>
  <div flex class="bord">
  tigidi
  </div>
</div>
<!--
  <md-grid-list md-cols-gt-md="6" md-cols-xs="2" md-row-height="1:1" md-gutter="12px" md-gutter-gt-sm="8px">

    <md-grid-tile md-rowspan="1" md-colspan="2" class="cst_tile">
      <md-grid-tile-title>
        <h3 class="max_value">35.4°C</h3>
        <div style="clear: both">
          <md-icon style="float: left" class="md-80" md-font-set="material-icons">home</md-icon>
          <h3 style="float: right" class="main_value">18.5°C</h3>
        </div>
        <h3 class="min_value">10.7°C</h3>
      </md-grid-tile-title>
    </mdi-grid-tile>


    <md-grid-tile class="green">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="yellow">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
  --!>
